<section>
    <div class="page-header">
        <h1>Viewers</h1>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-lg-4 form-inline">
            <div class="form-group">
                <label for="filter">
                    Keyword Filter: &nbsp;
                </label>
                <input id="filter" name="filter"  class="form-control" type="text" ng-model="vm.search" placeholder="Filter" ng-change="vm.figureOutItemsToDisplay()" />
            </div>
        </div>
        <!--/.col-->
        <div class="col-xs-12 col-lg-4 col-lg-push-4 form-inline text-right">
            <div class="form-group">
                <label for="itemsPerPage">
                    Items Per Page: &nbsp;
                </label>
                <input class="form-control" id="itemsPerPage" name="itemsPerPage" type="number" step="1" min="1" max="100" ng-model="itemsPerPage" value="10" ng-change="vm.figureOutItemsToDisplay()" />
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--./row-->

    <br>
    

    <table class="table table-responsive table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th class="text-center">
                    <i class="fas fa-image"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="viewer in vm.pagedItems">
                <td data-ng-bind="$index + 1"></td>
                <td data-ng-bind="viewer.display_name"></td>
                <td class="text-center">
                    <a href="" class="btn btn-success btn-xs btn-block">
                        <i class="fas fa-image"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" ng-hide="vm.viewers.length <= itemsPerPage">
        <div class="col-xs-12 text-center">
            <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
        </div>
        <!--/.col-->
    </div>
    <!--./row-->
    
</section>
